<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/index.css" />
        <title>Главная страница</title>
    </head>

    <body>
        <main>
            <header>
                <div class="authorization">
                    <a class="signup" href="/">Зарегистрироваться</a>
                    <a class="signin" href="/">Войти</a>
                </div>
            </header>

            <div class="container">
                <h1>В итоге все что я блять смог это:</h1>

                {% static main %} {% static main %}

                <form class="filter">
                    <div class="form-wrapper">
                        <select name="type" class="select-type">
                            <option value="none">Выберите</option>
                        </select>
                        <select name="subtype" class="select-subtype">
                            <option value="none">Выберите</option>
                        </select>
                        <button type="submit">Показать</button>
                    </div>
                </form>

                <div class="task">{{ cur_task }}</div>
            </div>
        </main>
    </body>
    <script src="./js/index.js"></script>
</html>
