<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/index.css', v='1') }}"
        />
        <title>Главная страница</title>
    </head>

    <body>
        <main>
            <header>
                <div class="authorization">
                    <a class="signup" href="/">Зарегистрироваться</a>
                    <a class="signin" href="/">Войти</a>
                </div>
            </header>

            <div class="container">
                {% block selector %} {% endblock %}

                <div class="task">{% block task %} {% endblock %}</div>
            </div>
        </main>
    </body>
    <!-- <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/index.css', v='1') }}"
    /> -->
    <script src="{{ url_for('static', filename='js/index.js', v='1') }}"></script>
</html>
