{% extends "index.html" %} {% block task %}
<form action="/">
    <button type="submit">На главную</button>
</form>
<div class="task_container">
    <div class="type">
        <h3><b>Задание:</b> {{ cur_task.type }}</h3>
    </div>
    <div class="subtype">
        <h3><b>Тип:</b> {{ cur_task.subtype }}</h3>
    </div>
    <div class="statement">
        <h3><b>Условие:</b></h3>
        {{ cur_task.statement_text | safe }}
    </div>
    {% if cur_task.have_picture %}
    <div class="statement_img-wrapper">
        <img src="#" alt="Oops!" />
    </div>
    {% endif %}
</div>

<script>
    task_id = "{{ cur_task.id }}";
    // console.log(task_id);
    const img = document.querySelector("img");
    img.src = `/storage/${task_id}/statement_files/img.png`;
</script>

{% endblock %}
